@import url('https://fonts.googleapis.com/css2?family=Inter+Display:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter Display', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-y: auto;
}

/* ==== GENERAL STYLES ==== */

.sub-heading-1 {
    margin-top: 2px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #757575;
    font-size: 14px;
}

.sub-heading-2 {
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 600;
    color: #1F1F1F;
}

.secondary-btn {
    all: unset;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    color: #1F1F1F;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow:
        0px 0px 0px 1.5px rgba(31, 31, 31, 0.08),
        0px 1px 1px 0px rgba(31, 31, 31, 0.04),
        0px 3px 3px 0px rgba(31, 31, 31, 0.03),
        0px 3px 4px 0px rgba(31, 31, 31, 0.02);
    cursor: pointer;
    transition: background-color 200ms ease;
}
.secondary-btn:hover {
    background-color: #f7f7f7;
}

.primary-btn {
    all: unset;
    background-color: #FF782F;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 200ms ease;
}
.primary-btn:hover {
    background-color: #e66621;
}

.generative-ai-btn {
    all: unset;
    cursor: pointer;
    background: linear-gradient(to bottom, #1f1f1f, #494949);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.04ch;
    color: white;
    padding: 8px 0;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    transition: filter 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.generative-ai-btn img {
    height: 14px;
    width: 14px;
}

.generative-ai-btn:hover {
    filter: brightness(1.15);
}

.primary-input {
    all: unset;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-size: 14px;
    color: #1F1F1F;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow:
        0px 0px 0px 1.5px rgba(31, 31, 31, 0.08),
        0px 1px 1px 0px rgba(31, 31, 31, 0.04),
        0px 3px 3px 0px rgba(31, 31, 31, 0.03),
        0px 3px 4px 0px rgba(31, 31, 31, 0.02);
    width: 100%;
}

.primary-input:focus {
    box-shadow:
        0px 0px 0px 2px rgba(31, 31, 31, 1),
        0px 1px 1px 0px rgba(31, 31, 31, 0.04),
        0px 3px 3px 0px rgba(31, 31, 31, 0.03),
        0px 3px 4px 0px rgba(31, 31, 31, 0.02);
}

.input_container {
    position: relative;
}

/* prevent 'stepper' from input field type=number */
.input_container input[type=number],
.input-div input[type=number] {
    appearance: textfield; /* Firefox */
}
/* prevent 'stepper' from input field type=number */
.input_container input[type=number]::-webkit-outer-spin-button,
.input_container input[type=number]::-webkit-inner-spin-button,
.input-div input[type=number]::-webkit-outer-spin-button,
.input-div input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    margin: 0;
}

.input-overlay-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 500;
    top: 0;
    left: 0;
    right: 12px;
    bottom: 0;
}

/* ==== LAYOUT ==== */

.create-recipe-page_container {
    display: flex;
    justify-content: center;
    /* padding: 24px; */
    /* padding: 0 32px; */
    padding-left: 288px;
    min-width: 0;
    width: 100%;
    user-select: none;
    /* background-color: red; */
}

.create-recipe-page_container-wrapper {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 0 18px;
    /* background-color: blue; */
}

.create-recipe-top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 18px;
    margin-bottom: 8px;
    margin-top: 4px;
    background-color: white;
    max-width: 1000px;
}

.create-recipe-top-part img {
    height: 24px;
    cursor: pointer;
}

.create-recipe-title {
    font-size: 18px;
    font-weight: 600;
    color: #1F1F1F;
}

.column-1 {
    flex: 0 0 400px;
}

.column-2 {
    flex: 1;
    min-width: 0;
}

.create-recipe-box {
    width: 100%;
    border-radius: 12px;
}

/* ==== GENERAL INFORMATION ==== */

.gen-recipe-info_container,
.general-info_container {
    padding: 12px;
    background-color: #FAFAFA;
    /* background-color: #ffffff; */
    border: 2px solid #EFEFEF;
    border-radius: 12px;
}

.import-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.url-input {
    min-width: 0;
}

.description-input {
    width: 100%;
    max-width: 100%;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.4;
    overflow-y: auto;
    max-height: 140px;
}

/* IMAGE */
.drop-area-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;
    min-height: 140px;
    color: #757575;
    background-color: white;
    border: 2px dashed #EFEFEF;
    cursor: pointer;
}

.drop-area-image p {
    text-align: center;
    width: 200px;
    margin: 0;
    margin-top: 8px;
}

.drop-area-image .image-icon {
    height: 28px;
}

.drop-area-image p span {
    font-weight: 600;
    color: #1F1F1F;
}

.image-preview {
    max-height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.image-overlay {
    width: 100%;
    padding: 8px;
    background: rgba(255, 255, 255, 0.5);
    color: #1F1F1F;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}


/* ==== DETAIL INFORMATION ==== */

.detail-info_container {
    padding: 12px;
    border-radius: 10px;
    /* width: 100%; */
    /* max-width: none; */
    background-color: #FAFAFA;
    border: 2px solid #EFEFEF;
}

/* .item_container {
    background-color: #ffffff;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
} */

.single-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #EFEFEF;
    font-weight: 500;
    font-size: 14px;
}
.single-item.last {
    border-bottom: 0;
}

.left-side {
    display: flex;
}

.left-side img {
    margin-left: 12px;
    cursor: pointer;
}

.calories_unit-input {
    display: flex;
    align-items: center;
    gap: 12px;
}

.single-item .trash-icon {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.single-item .trash-icon:hover {
    filter: brightness(0.5);
}

.unit-input {
    margin-left: 8px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.027);
    border: 2px solid #e7e7e7;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    max-height: 32px;
}

.unit-input:focus-within {
    border: 2px solid #1F1F1F;
}

.input-div {
    max-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    border-right: 2px solid #e7e7e7;
}

.input-div input {
    max-width: 36px;
    border: none;
    background-color: transparent;
    font-size: 14px;
}

.input-div input:focus {
    border: none;
    outline: none;
}

.unit-div {
    max-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    cursor: pointer;
}

/* ==== ADD FIELD ==== */

.add-field {
    padding: 18px 12px;
    /* margin: 8px 106px 12px 12px; */
    min-height: 32px;
    max-height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-field input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.add-field img {
    cursor: pointer;
}
.add-field img:hover {
    filter: brightness(0.5);
}

/* ==== DIRECTIONS ==== */

.direction-texts {
    margin: 0 12px;
}

.direction-texts .direction-step {
    font-size: 14px;
}

/* ==== RESPONSIVE ==== */

@media (max-width: 1280px) {
    .create-recipe-page_container-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: #72391b; */
    }

    .create-recipe-page_container {
        padding-left: 288px;
        /* background-color: #e66621; */
    }

    .column-1,
    .column-2 {
        flex: none;
        width: 100%;
    }
}

@media (max-width: 900px) {
    .create-recipe-page_container-wrapper {
        /* display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto; */
        /* background-color: green; */
    }

    .create-recipe-page_container {
        /* display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; */
        padding-left: 0;
    }

    .create-recipe-top-part {
        padding-left: 308px;
    }
}

@media (max-width: 768px) {
    .create-recipe-top-part {
        padding-left: 20px;
        padding-top: 32px;
    }
}
