@import url('https://fonts.googleapis.com/css2?family=Inter+Display:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter Display', sans-serif;
    box-sizing: border-box;
}


.sidebar {
    height: 100vh;
    width: 288px;
    max-width: 288px;
    min-width: 288px;
    background-color: #FAFAFA;
    border-right: 2px solid #EFEFEF;
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
}

.logo-title {
    font-size: 20px;
    font-weight: 600; /* Semi Bold */
    color: #1F1F1F;
}

.recipe-lounge-logo {
    height: 28px;
}

.topbar {
    height: 32px;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

/* Recipe Folder Btn */
.sidebar-item {
    padding: 10px 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500; /* Medium */
    /* letter-spacing: -0.02em; ist -2% */
    display: flex;
    align-items: center;
    gap: 6px;
    color: #757575;
    margin-bottom: 4px;
}

.sidebar-item:hover {
    background-color: #EFEFEF;
}

.sidebar-item img {
    height: 20px;
}


/* Recipe Folder Divs - States */
.recipe-folder-container {
    position: relative;
    display: flex;
    width: 100%;
    gap: 8px;
    margin-top: 6px;
    height: 38px;
    border-radius: 10px;
}

.recipe-folder-div-closed {
    gap: 6px;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 8px;
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 10px;
    border: 2px solid transparent;
}

.recipe-folder-container:hover {
    background-color: #f0f0f0;
}
.recipe-folder-container:has(.recipe-folder-div-opened) {
  background-color: #f0f0f0;
}

/*.recipe-folder-div-closed:hover {
    background-color: #f0f0f0;
}*/

.recipe-folder-div-opened {
    gap: 6px;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
}

.recipe-folder-div-opened .folder-icon-opened,
.recipe-folder-div-opened .folder-icon-closed {
    filter: invert(8%) brightness(12%);
}

/*.recipe-folder-div-opened:hover {
    background-color: #f0f0f0;
}*/

.sidebar-subtitle {
    color: #757575;
    font-weight: 600;
    letter-spacing: 0.08em;
    font-size: 12px;
}

.recipe-folder-title {
    color: #757575;
    font-weight: 500;
    /* letter-spacing: -0.02em; */
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    height: 44px;
    text-overflow: ellipsis;
    white-space: nowrap; /* . */
    overflow: hidden; /* . */
}

.recipe-folder-div-closed .noedit,
.recipe-folder-div-opened .noedit {
    user-select: none;
    pointer-events: none;
}


/* Highlight text for the input-element - coloring */
input::selection {
    background-color: #ff782f33;
    color: #1F1F1F;
}

/* To move the subfolder-line */
.sub-folder-margin-0 {
    margin-left: 0px;
}

.sub-folder-margin-1 {
    margin-left: 22px;
}

.sub-folder-margin-2 {
    margin-left: 53px;
}

.sub-folder-margin-3 {
    margin-left: 83px;
}

/* To move the Folder to the correct subfolder-line position */
.sub-folder-padding-0 {
    padding-left: 0px;
}

.sub-folder-padding-1 {
    /*padding-left: 40px;*/
    margin-left: 30px;
}

.sub-folder-padding-2 {
    /* padding-left: 72px; */
    margin-left: 60px;
}

.sub-folder-padding-3 {
    /* padding-left: 104px; */
    margin-left: 95px;
}

.sub-folder-line {
    position: absolute;
    /* display: block; */
    margin-top: 6px;
    width: 2px;
    height: 40px;
    background-color: #0000001e;
    border-radius: 9999px;
    z-index: 1;
}


/* Close and open folder */
.chevron {
    transition: transform 0.2s ease;
    transform-origin: center; /* Rotating point */
    content: url('../../assets/chevron-right.svg');
}
.chevron-opened {
    /*filter: invert(8%) brightness(12%);*/
    transform: rotate(90deg);
}
.folder-icon-closed {
    content: url('../../assets/folder-closed-icon.svg');
}
.folder-icon-opened {
    content: url('../../assets/folder-opened-icon.svg');
}
.recipe-folder-div-opened input,
.recipe-folder-div-opened input::placeholder {
    color: #1F1F1F;
}


/* Dropdown */
.dropdown_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 28px;
    border-radius: 6px;
}

.dropdown_container:hover {
    background-color: #dddddd;
}



/* Text should not be highlighted,
Browser tooltips should be suppressed
when clicking quickly */
.sidebar {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/* -> important, on parent-element */


/* Dragged-State */
.recipe-folder-container.folder-dragged {
    position: relative;
    background-color: #FF782F;
    z-index: 1115;
}


/* .chosen-folder {
    background-color: #ff782f2a;
    border-radius: 12px;
} */

.target-all-folders ~ input {
    color: #FF782F !important;
}

.folder-div-editing {
    border: 2px solid #FF782F;
}

.recipe-folder-container.folder-dragged .chevron,
.recipe-folder-container.folder-dragged .folder-icon-closed,
.recipe-folder-container.folder-dragged .folder-icon-opened {
    transition: none !important;
    filter: brightness(0) invert(1);
}

.recipe-folder-container.folder-dragged input {
    color: white !important;
}

.recipe-folder-container.folder-dragged input::placeholder {
    color: white !important;
}

.not-displayed {
    display: none;
}

/* By default we want that the closed-icon isn't visible, only when resizing to 768px */
.hamburger-opened {
    display: none;
}

.hamburger-closed {
    margin-top: 16px;
    margin-left: 16px;
    transition: transform 0.125s ease-in-out, filter 0.125s ease-in-out;
    cursor: pointer;
}

.hamburger-closed:hover {
    transform: scale(1.1);
    filter: invert(77%) sepia(57%) saturate(5902%) hue-rotate(338deg) brightness(101%) contrast(104%);
}

.target-all-folders {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ff782f2a;
    border-radius: 12px;
    pointer-events: none;
    z-index: 10;
    width: auto;
    height: var(--targeted-folders-height);
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.2s ease-in-out;
    }

    .sidebar.open {
        transform: translateX(0%);
    }

    .hamburger-opened {
        display: flex;
        margin-left: auto;
        flex-direction: column;
        justify-content: space-between;
        width: 36px;   
        height: 36px;
        cursor: pointer;
        transition: transform 0.125s ease-in-out;
    }

    .hamburger-opened:hover {
        transform: scale(1.1); /* NOTE for myself: instead of only scale, use transform */
        filter: invert(77%) sepia(57%) saturate(5902%) hue-rotate(338deg) brightness(101%) contrast(104%);
    }

}
