@import url('https://fonts.googleapis.com/css2?family=Inter+Display:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter Display', sans-serif;
    box-sizing: border-box;
}

.page-wrapper {
    display: grid;
}

.recipe-page_container {
    display: flex;
    padding: 16px;
    /* margin-left: 288px; */
    justify-content: center;
    user-select: none;
    gap: 16px;
    /* background-color: red; */
    grid-column: 2;
    /* transform: translateX(140px); */
    max-width: 1100px;
    width: 100%;
}

.recipe-header {
    display: inline-block;
    background-color: #FAFAFA;
    border-radius: 12px;
    border: 2px solid #EFEFEF;
    display: block;
    max-width: 540px;
}

.recipe-header img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    max-width: 540px;
    max-height: 300px;
    object-fit: cover;
}

.recipe-header-content {
    /* background-color: aqua; */
    margin: 0;
    padding: 20px;
    width: 100%;
    max-width: 536px;
}

.recipe-header-content p {
    font-weight: 500;
    color: #757575;
    font-size: 14px;
}

.recipe-header-content p span {
    font-weight: 600;
    color: #1F1F1F;
    cursor: pointer;
}

.recipe-header-content h3 {
    font-weight: 600;
    font-size: 24px;
    /* background-color: green; */
    margin: 0;
    margin-bottom: 12px;
}

.header-settings {
    display: flex;
    gap: 20px;
    /* background-color: aquamarine; */
}

.servings {
    display: flex;
    /* background-color: azure; */
    align-items: center;
    gap: 8px;
}

.servings img {
    /* background-color: red; */
    cursor: pointer;
}

.servings-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
    gap: 6px;
}

.servings-text p {
    /* background-color: #ebc1c1; */
    margin: 0;
}

.servings-text .amount {
    font-weight: 600;
    color: #1F1F1F;
}

.cook-duration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ebc1c1; */
    gap: 6px;
}

.cook-duration p {
    /* background-color: bisque; */
    margin: 0;
}

.cook-duration .amount {
    font-weight: 600;
    color: #1F1F1F;
}



.item_container {
    background-color: #ffffff;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
}

.recipe-items {
    width: 100%;
    max-width: 536px;
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #EFEFEF;
}

.recipe-items h4 {
    font-weight: 600;
    color: #1F1F1F;
    font-size: 18px;
    margin: 0;
}

.recipe-items-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.recipe-items-header img {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #9fa1a23f;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 8px;
}

.column-1,
.column-2 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1400px) {
    .recipe-page_container {
        flex-direction: column;
        align-items: center;
        transform: none;
        justify-content: center;
    }

    .column-1,
    .column-2 {
        width: 100%;
        max-width: 536px;
    }

    .recipe-items {
        max-width: 536px;
    }

    .recipe-header img {
        width: 100%;
        height: auto;
        display: block;
    }
}

@media (max-width: 1100px) {
    .column-1,
    .column-2 {
        width: 100%;
        max-width: 436px;
    }

    .recipe-items {
        max-width: 436px;
    }
}

@media (max-width: 900px) {
    .column-1,
    .column-2 {
        margin-left: 240px;
    }
}

@media (max-width: 760px) {
    .column-1,
    .column-2 {
        margin: 0 auto;
        margin-left: 0px;
    }
}