spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/recipelounge
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: create-drop # validate - for production stage
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always

